# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\alazofei\Documents\GitHub\Data-Science\Unit 1 - Getting started with the data science tools\Module 2 - Numpy and Pandas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
